<div class="pages">
  <div class="row">
    <div class="col-sm-8 col-offset-sm-2">
      <p id="notice"><%= notice %></p>
     <h3>
        <strong>First name:</strong>
        <%= @user.first_name %>
     </h3>

     <h3>
        <strong>Last name:</strong>
        <%= @user.last_name %>
    </h3>
    <div class="actions"> 
      <%= link_to edit_user_path(@user), class:"btn btn-warning" do %>
        <span class="glyphicon glyphicon-wrench"></span> Edit
      <% end %>
      |
      <%= link_to users_path, class:"btn btn-info" do%>
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      <% end %>
    </div>
    </div>
  </div>
</div>





