
  <div class="digg-pagination">
    <div class="page-info pull-right">
      <%= page_entries_info @comments, :model => 'comment' %>
    </div>
      <br/>
      <%= will_paginate @comments, class:"pull-right" %>
  </div>
  <div class="product-reviews">
    <% @comments.each do |comment| %>
      <div class="row">
        <hr class="style-two">
        <div class="col-xs-12">
          <p id="commenter"><%= comment.user.first_name %><small><em> <%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
          <div class="rated" data-score="<%= comment.rating %>"%></div>
          <p><%= comment.body %></p>
          <% if comment.user.id == current_user.id || current_user.admin %>
            <%= link_to product_comment_path(@product,comment), method: :delete, data: {confirm:"Are you sure"}, class:"btn btn-danger btn-xs pull-right" do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>