
<div class="container">
  <%= render 'layouts/flash' %>
  <div class="row">
    <h2><strong>Name:</strong><%= @product.name %></h2>
    <hr class="style-one">
    <p><strong>Colour:</strong><%= @product.colour %></p>
    <div class="col-sm-3 product-list">
      <%= image_tag(@product.image_url, class:'center-block') %>
      <div class="price">
        <h4 class="text-center">Price: <%= number_to_currency(@product.price) %></h4>
      </div>
    </div>
    <div class="col-sm-9">
      <%= simple_format(@product.description) %>
    </div>
    <div class="actions">
      <%= link_to edit_product_path(@product), class:"btn btn-warning btn-xs", role:"button" do %>
        <i class="glyphicon glyphicon-wrench"></i> Update
      <% end %> 
      <%= link_to products_path, class:"btn btn-primary btn-xs", role:"button" do %>
        <i class="glyphicon glyphicon-chevron-left"></i> Show Full List
      <% end %>
    </div>
  </div>
  <hr class="style-one">
</div>