<p id="notice"><%= notice %></p>

<div class="pages">
  <h2>
    <strong>Name:</strong>
    <%= @product.name %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= simple_format(@product.description) %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-warning btn-xs", role:"button" %> |
  <%= link_to products_path, class:"btn btn-primary btn-xs", role:"button" do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back
  <% end %>
</div>